[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
simplejson = "*"
python-dotenv = "*"
watchdog = "*"
blinker = "*"
gunicorn = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
