[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
simplejson = "*"
python-dotenv = "*"
watchdog = "*"
blinker = "*"
gunicorn = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
cryptography = "*"
pytz = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
